.status-bar {
  display: flex;
  justify-content: center;
}
.status-bar__column {
  width: 33%;
}
/* justify-content spacebetween 하게 되면 지금 column들의 글자수 때문에 width값이 다 다르므로 
시간이 센터에 오지 않고 기묘하게 살짝 비켜감 -> 이를 막기 위해 css hack을 사용하기로 함. 
1) status-bar__column (모든 칼럼)에 width:33 %를 지정하고
2) 2번째 child인 시간부분을 flex center하여 중앙에 배치함 
3) 그리고 마지막 child인 배터리 부분에 flex하고 justify를 flex - end로 배치,
그럼 배터리 부분이 끝에 가게 되고 
아이콘 부분이 약간 위로 가있어서 align items center를 적용해 수평을 맞춰줌*/
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
  /* 마진값 상하 0 좌우 5px */
}
