@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* css reset  */
@import "reset.css";
/* css status-bar  */
@import "status-bar.css";
body {
  font-family: "Open Sans", sans-serif;
}
.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 만들려는 이미지를 보고 px 측정한 값을 적용하였는데 %로 해도 되고 자유임  */
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
/* welcome to kokoa와 그 아래 if you~ 텍스트 사이 공간보면 50px임 마진바텀  */
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
/* width값을 60%로 지정하여 2줄이 되도록 해주었다 width값을 %로 지정할때 width %는 기존의 크기를 가진
부모 컨테이너 너비의 %가 되도록 요소를 정의한다 (부모 컨테이너 크기의 %임) 여기서 부모는 .welcome-header 이므로
이 부모는 block 요소라 화면을 다 차지한다 그래서 화면에 대해서 60%라는 것임 틀릴수도 있는데..일단
이렇게 알아두고 나중에 이게 아니면 다시 개념잡을 것  
https://css-tricks.com/almanac/properties/w/width/ 
https://stackoverflow.com/questions/3538875/css-div-width-percentage-and-padding-without-breaking-layout
 */
